default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  username: postgres
  password: postgres
  pool: 5

development:
  primary:
    <<: *default
    database: boilerplate_dev_db_CHANGEME

# test:
#   primary:
#     <<: *default
#     database: boilerplate_test_db_CHANGEME

# production:
#   primary:
#     <<: *default
#     host: <%= ENV["POSTGRES_HOST"]%>
#     database: <%= ENV["POSTGRES_DB"]%>
#     username: <%= ENV["POSTGRES_USER"]%>
#     password: <%= ENV["POSTGRES_PASSWORD"] %>